<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{klantRecovery.customer.firstName }} {{ customerRecovery.customer.lastName }},<br/>
        <br/>
        Er is een nieuw wachtwoord aangevraagd voor je {{ shopName }} account.
        Klik op de volgende link om het wachtwoord te resetten:<br/>
        <br/>
        <a href="{{ resetUrl }}">{ resetUrl }}</a><br/>
        <br/>
        Deze link is geldig voor de komende 2 uur.
        Als je je wachtwoord niet wilt resetten, negeer deze e-mail en er zullen geen wijzigingen worden aangebracht.<br/>
        <br/>
        Met vriendelijke groet,
        Het {{ shopName }} team
    </p>
</div>