<div style="font-family:arial; font-size:12px;">

    {% set currencyIsoCode = order.currency.isoCode %}
    Hallo {% if order.orderCustomer.salutation %}{{ order.orderCustomer.salutation.translated.letterName ~ ' ' }}{% endif %}{{ order.orderCustomer.firstName }} {{ order.orderCustomer.lastName }},<br>
    <br>
    We hebben je bestelling ontvangen op {{ order.orderDateTime|format_datetime('medium', 'short', locale='en-GB') }}.<br>
    <br>
    Ordernummer: {{ order.orderNumber }}<br>
    Opmerking: {{ order.customerComment  }}<br>
    <br>
    Zodra de betaling is verwerkt ontvang je een aparte melding en wordt je bestelling in behandeling genomen.<br><br>
    <br>
    Met deze link kan je de huidige status van je bestelling bekijken:  {{ rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode }, salesChannel.domains|first.url) }}<br>
    Je kunt deze link gebruiken om je bestelling te wijzigen, de betaalmethode te wijzigen of aanvullende betalingen te doen.
    <br>
    <br>
    <br>
    <h3>Informatie over je bestelling:</h3><br>
    <br>

    <table border="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
        <tr>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>#</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong></strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Beschrijving</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Aantal</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Prijs</strong></td>
            <td bgcolor="#F7F7F2" style="border-bottom:1px solid #cccccc;"><strong>Totaal</strong></td>
        </tr>

        {% for lineItem in order.nestedLineItems %}
            {% set nestingLevel = 0 %}
            {% set nestedItem = lineItem %}
            {% block lineItem %}
                <tr>
                    <td>{% if nestedItem.payload.productNumber is defined %}{{ nestedItem.payload.productNumber|u.wordwrap(80) }}{% endif %}</td>
                    <td>{% if nestedItem.cover is defined and nestedItem.cover is not null %}<img src="{{ nestedItem.cover.url }}" width="75" height="auto"/>{% endif %}</td>
                    <td>
                        {% if nestingLevel > 0 %}
                            {% for i in 1..nestingLevel %}
                                <span style="position: relative;">
                            <span style="display: inline-block;
                                    position: absolute;
                                    width: 6px;
                                    height: 20px;
                                    top: 0;
                                    border-left:  2px solid rgba(0, 0, 0, 0.15);
                                    margin-left: {{ i * 10 }}px;"></span>
                        </span>
                            {% endfor %}
                        {% endif %}

                        <div{% if nestingLevel > 0 %} style="padding-left: {{ (nestingLevel + 1) * 10 }}px"{% endif %}>
                            {{ nestedItem.label|u.wordwrap(80) }}
                        </div>

                        {% if nestedItem.payload.options is defined and nestedItem.payload.options|length >= 1 %}
                            <div>
                                {% for option in nestedItem.payload.options %}
                                    {{ option.group }}: {{ option.option }}
                                    {% if nestedItem.payload.options|last != option %}
                                        {{ " | " }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if nestedItem.payload.features is defined and nestedItem.payload.features|length >= 1 %}
                            {% set referencePriceFeatures = nestedItem.payload.features|filter(feature => feature.type == 'referencePrice') %}
                            {% if referencePriceFeatures|length >= 1 %}
                                {% set referencePriceFeature = referencePriceFeatures|first %}
                                <div>
                                    {{ referencePriceFeature.value.purchaseUnit }} {{ referencePriceFeature.value.unitName }}
                                    ({{ referencePriceFeature.value.price|currency(currencyIsoCode) }}* / {{ referencePriceFeature.value.referenceUnit }} {{ referencePriceFeature.value.unitName }})
                                </div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="text-align: center">{{ nestedItem.quantity }}</td>
                    <td>{{ nestedItem.unitPrice|currency(currencyIsoCode) }}</td>
                    <td>{{ nestedItem.totalPrice|currency(currencyIsoCode) }}</td>
                </tr>

                {% if nestedItem.children.count > 0 %}
                    {% set nestingLevel = nestingLevel + 1 %}
                    {% for lineItem in nestedItem.children %}
                        {% set nestedItem = lineItem %}
                        {{ block('lineItem') }}
                    {% endfor %}
                {% endif %}
            {% endblock %}
        {% endfor %}
    </table>

    {% set delivery = order.deliveries.first %}

    {% set displayRounded = order.totalRounding.interval != 0.01 or order.totalRounding.decimals != order.itemRounding.decimals %}
    {% set decimals = order.totalRounding.decimals %}
    {% set total = order.price.totalPrice %}
    {% if displayRounded %}
        {% set total = order.price.rawTotal %}
        {% set decimals = order.itemRounding.decimals %}
    {% endif %}
    <p>
        <br>
        <br>
        {% for shippingCost in order.deliveries %}
            Verzendkosten: {{ shippingCost.shippingCosts.totalPrice|currency(currencyIsoCode) }}<br>
        {% endfor %}

        Subtotaal: {{ order.amountNet|currency(currencyIsoCode) }}<br>
        {% for calculatedTax in order.price.calculatedTaxes %}
            {% if order.taxStatus is same as('net') %}plus{% else %}inclusief{% endif %} {{ calculatedTax.taxRate }}% VAT. {{ calculatedTax.tax|currency(currencyIsoCode) }}<br>
        {% endfor %}
        {% if not displayRounded %}<strong>{% endif %}Totaal: {{ total|currency(currencyIsoCode,decimals=decimals) }}{% if not displayRounded %}</strong>{% endif %}<br>
        {% if displayRounded %}
            <strong>Rounded total gross: {{ order.price.totalPrice|currency(currencyIsoCode,decimals=order.totalRounding.decimals) }}</strong><br>
        {% endif %}
        <br>

        {% if delivery %}
            <strong>Selected shipping type:</strong> {{ delivery.shippingMethod.translated.name }}<br>
            {{ delivery.shippingMethod.translated.description }}<br>
            <br>
        {% endif %}

        {% set billingAddress = order.addresses.get(order.billingAddressId) %}
        <strong>Factuuradres:</strong><br>
        {{ billingAddress.company }}<br>
        {{ billingAddress.firstName }} {{ billingAddress.lastName }}<br>
        {{ billingAddress.street }} <br>
        {{ billingAddress.zipcode }} {{ billingAddress.city }}<br>
        {{ billingAddress.country.translated.name }}<br>
        <br>

        {% if delivery %}
            <strong>Afleverdadres:</strong><br>
            {{ delivery.shippingOrderAddress.company }}<br>
            {{ delivery.shippingOrderAddress.firstName }} {{ delivery.shippingOrderAddress.lastName }}<br>
            {{ delivery.shippingOrderAddress.street }} <br>
            {{ delivery.shippingOrderAddress.zipcode}} {{ delivery.shippingOrderAddress.city }}<br>
            {{ delivery.shippingOrderAddress.country.translated.name }}<br>
            <br>
        {% endif %}
        {% if order.orderCustomer.vatIds %}
            Je BTW-nummer: {{ order.orderCustomer.vatIds|first }}
            In het geval van een succesvolle bestelling en als je gevestigd bent in een van de EU-landen (uitgezonderd Nederland), ontvang je je goederen vrijgesteld van omzetbelasting.<br>
        {% endif %}
        <br/>
        Je kunt op elk moment de huidige status van je bestelling bekijken op onze website onder "Mijn account" - "Mijn bestellingen": {{ rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode }, salesChannel.domains|first.url) }}
        </br>
        Mocht je nog vragen hebben, neem dan gerust contact met ons op.

    </p>
    <br>
</div>
