<div style="font-family:arial; font-size:12px;">
    <p>
	Het onderstaande bericht heb je ontvangen via het contact formulier.<br/>
        <br/>
        Contact naam: {{ contactFormData.firstName }} {{ contactFormData.lastName }}
        Contact email adres: {{ contactFormData.email }}<br/>
        Telefoonnummer: {{ contactFormData.phone }}<br/><br/>
        Onderwerp: {{ contactFormData.subject }}<br/>
        <br/>
        Bericht: {{ contactFormData.comment }}<br/>
    </p>
</div>
