<div style="font-family:arial; font-size:12px;">
    <p>
        Het volgende bericht is naar je verzonden via het contactformulier.<br/>
        <br/>
        Contact naam: {{ contactFormData.firstName }} {{ contactFormData.lastName }}
        Contact emailadres: {{ contactFormData.email }}<br/>
        Telefoonnummer: {{ contactFormData.phone }}<br/><br/>
        Onderwerp: {{ contactFormData.subject }}<br/>
        <br/>
        Bericht: {{ contactFormData.comment }}<br/>
    </p>
</div>
