<div style="font-family:arial; font-size:12px;">
    <br/>
    {{order.orderCustomer.salutation.letterName }} {{order.orderCustomer.firstName}} {{order.orderCustomer.lastName}},<br/>
    <br/>
    De status van je bestelling bij {{ salesChannel.name }} (Nummer: {{order.orderNumber}}) op {{ order.orderDateTime|date }} is veranderd.<br/>
    <strong>De nieuwe status is als volgt: {{order.stateMachineState.name}}.</strong><br/>
    <br/>
    Je kunt de actuele status van je bestelling op elk moment bekijken op onze website onder "Mijn account" - "Mijn bestellingen": {{ rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode}, salesChannel.domains|first.url) }}
    </br>
    Als je echter gekocht hebt zonder registratie of een klantenaccount, heb je deze optie niet.
    </p>
</div>
