<div style="font-family:arial; font-size:12px;">
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.firstName }} {{ customer.lastName }},<br/>
        <br/>
        Er is een verzoek geweest om je wachtwoord bij {{ salesChannel.translated.name }} te resetten.
        Gelieve onderstaande link te bevestigen om een nieuw wachtwoord op te geven.<br/>
        <br/>
        <a href="{{ urlResetPassword }}">Reset wachtwoord</a><br/>
        <br/>
        Deze link is geldig voor de komende 2 uur. Daarna moet je een nieuwe bevestigingslink aanvragen.<br/>
        Als je je wachtwoord niet opnieuw wilt instellen, kan je deze e-mail negeren. Er zullen geen wijzigingen worden aangebracht.
    </p>
</div>
