<div style="font-family:arial; font-size:12px;">
    <p>
        {{ customer.salutation.letterName }} {{ customer.firstName }} {{ customer.lastName }},<br/>
        <br/>
        Er is een verzoek geweest om uw wachtwoord bij {{ salesChannel.name }} te resetten.
        Gelieve onderstaande link te bevestigen om een nieuw wachtwoord op te geven.<br/>
        <br/>
        <a href="{{ urlResetPassword }}">Wachtwoord resetten</a><br/>
        <br/>
        Deze link is geldig voor de komende 2 uur. Daarna moet u een nieuwe bevestigingslink aanvragen.<br/>
        Als u uw wachtwoord niet opnieuw wilt instellen, kunt u deze e-mail negeren. Er zullen geen wijzigingen worden aangebracht.
    </p>
</div>